.BlogNav {
  position: fixed;
  top: 0;
  left: 0; /* Change from right: 0 to left: 0 */
  height: 100vh;
  width: 5vw;
  background-color: rgb(0, 0, 0);
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: transform 0.3s ease;
  z-index: 999;
  padding: 2rem;
  margin-top: 8vh;
  overflow-y: hidden; /* Start with scrolling disabled */
}

.BlogNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.BlogNav li {
  margin-bottom: 1.5rem;
   color: #0091ff;

}

.BlogNav a {
  color: #f5eec9;
  text-decoration: none;
  font-size: 0.1 rem;
  transition: color 0.3s;
}

.BlogNav a:hover {
  color: #ffd700;
}

.BlogNav.Active {
  transform: translateX(0);
   overflow-y: auto; /* Enable scrolling when active */
}

/* Scrollbar styling */
.BlogNav::-webkit-scrollbar {
  width: 5px;
}

.BlogNav::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.BlogNav::-webkit-scrollbar-thumb {
  background: #0091ff;
  border-radius: 3px;
}

.BlogNav::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}



.BlogList {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    max-width: 75%;
}


.BlogList li {
    color: #ffd700;
    background: rgba(26, 26, 26, 0.764);
    font-size: 16px;
    font-weight: bold;
    border: #ffd90023 1px solid;
    border-radius: 10px; 
    padding: 3px 6px;
    text-decoration: none; 
    list-style-type: none;
    padding-left: 0;
    margin-top: 2%;

}
.BlogList a {
    color: #ffd700;
    text-decoration: none; 
    text-align: left; /* aligns text to the left */
    display: block; /* allows block-level formatting */
}
.BlogList li:hover {
    background-color: rgba(255, 217, 0, 0.11);
    border: #ffd900a5 1px solid;
    color: #000000; 
    text-shadow: 0 0 15px #fc8704;
    box-shadow: 0 0 20px #fc8704;
    transition: 0.8s;
}

.BlogHeading {
    color: #ffffff;
    text-shadow: 0 0 30px #fc8704;
}

.ReadMore {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: block; /* allows block-level formatting */
    text-decoration: none; 
    transition: transform 0.3s ease;
    padding-top: 1em;

}

.BlogList li:hover .ReadMore {
    transform: translateX(2em);
}


.ReferenceMaterial li {
    color: #ffd700;
    font-weight: bold;
    text-decoration: none; 
}

