.BlogList {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers the list items */
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    max-width: 75%;
}


.BlogList li {
    color: #ffd700;
    background-color: transparent;  
    font-size: 16px;
    font-weight: bold;
    border: #ffd90023 1px solid;
    border-radius: 10px; 
    padding: 3px 6px;
    text-decoration: none; 
    list-style-type: none;
    padding-left: 0;

}
.BlogList a {
    color: #ffd700;
    text-decoration: none; 
}
.BlogList li:hover {
    background-color: rgba(255, 217, 0, 0.263);
    border: #ffd9000d 1px solid;
    color: #000000; 
    text-shadow: 0 0 15px #fc8704;
    box-shadow: 0 0 20px #fc8704;
    transition: 0.8s;
}

.BlogHeading {
    color: #ffffff;
    text-shadow: 0 0 30px #fc8704;
}

.ReadMore {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none; /* Remove underline from links */
}

.ReferenceMaterial li {
    color: #ffd700;
    font-weight: bold;
    text-decoration: none; 
}

