h1 {
    color: #ffd700;
    text-align: center;
    font-weight: 700;
    font-size: 5.5em;
    margin-top: 200px;
    margin-bottom: 5px; 
    padding: 20px;
    text-shadow: 0 0 30px #fc8704;
}

h3 {
    color: #ffd700;
    text-align: center;
    margin: 5px auto;
    margin-top: 100px;
    max-width: 700px;
    font-weight: 400;

}

p {
    color: #ffd700;
    text-align: justify;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}   

.SquareBulletPointList {
    color: #f10bc3;
    font-size: 20px;
    list-style-type: square;
}

.navlinks a {
    color: white;
    background-color: #363636;
    font-size: 16px;
    font-weight: bold;
    border: #f10bc3 3px solid;
    border-radius: 10px; 
}

.alias {
    color: #ffae00;
    text-shadow: 0 0 100px #fc8704;
    font-weight: bold;
    font-size: 1.0em;
  }

  .highlight {
    color: #ffae00;
    font-weight: bold;
    text-shadow: 0 0 10px #ffd700;
  }

  .Pathways {
    margin-top: 60px;
  }

  .ElevatorPitch {
    font-weight: 400;
    text-shadow: 0 0 10px #ffd700;
    font-style: italic;

}

#Profile {
    margin-top: 100px;
}

img {

    box-shadow: 0 0 30px #04b3b3;

}
img:hover{
    background-color: rgba(255, 215, 0, 0.3);
    transition: 0.8s;
    border-radius: 2px; 
}

#Evo {

  filter : drop-shadow(0 0 10px #04b3b3);
  transition: 0.8s;
  border: none;
  box-shadow: none;
}