h1 {
    color: #f10bc3;
    font-size: 36px;
}

p {
    color: #0b26f1;
    font-size: 18px;
}

.SquareBulletPointList {
    color: #f10bc3;
    font-size: 20px;
    list-style-type: square;
}

.navlinks a {
    color: white;
    background-color: #363636;
    font-size: 16px;
    font-weight: bold;
    border: #f10bc3 3px solid;
    border-radius: 10px; 
}

.alias {
    color: #ffae00;
    text-shadow: 0 0 100px #fc8704;
    font-weight: bold;
    font-size: 1.0em;
  }

  .highlight {
    color: #ffae00;
    font-weight: bold;
    text-shadow: 0 0 10px #ffd700;
  }