header {
    color: #ffd700;
    padding: 20px;
    text-align: center;
}

nav {
    color: #ffd700;
    position: fixed; /* Keeps the navigation bar at the top of the page even when i scroll */
    top: 0;
    width: 100%;
   /* z-index: 1000;  Makes the navigation bar above other content */
    padding: 4px;
    text-align: center;
}

.NavLinks {
    list-style-type: none;
    background-color: black;
    display: flex;
    justify-content: space-evenly;

}

.NavLinks li {
    font-weight: bold; 
}

.NavLinks a {
    color: #ffd700;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    border: #ffd700 3px solid;
    border-radius: 10px; 
    padding: 3px 6px;
    text-decoration: none; /* Remove underline from links */
}
.NavLinks a:hover {
    background-color: #ffd700; 
    color: #000000; 
    text-shadow: 0 0 15px #fc8704;
    box-shadow: 0 0 20px #fc8704; /* Add a glow effect on hover */
    transition: 0.5s; /* Smooth transition for the hover effect */
}

h1 {
    color: #ffd700;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

body { 
    background-color: black;
    color: #ffd700;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    
}


